<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/upload.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/main.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload your image</h1>
      <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file" />
        <button type="submit" class="form-btn">Upload</button>
      </form>

      <!-- error flush messages -->
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="errors-container">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <!-- end error flush messages -->

      <a href="/" class="navigation">back to home</a>
    </div>
  </body>
</html>
